html,
body,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Verdana', 'sans-serif';
}

button {
    outline: none;
    background: transparent;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-wrap: wrap;
}

.popup {
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin-bottom: 12px;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
}

.commands-label,
.shortcuts-label {
    margin-bottom: 8px;
    text-decoration: underline;
}

.container {
    display: flex;
    width: 100%;
}

.commands{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.commands-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.command-btn {
    background: lightgray;
    border: 1px solid gray;
    padding: 4px 8px;
    margin-bottom: 4px;
    width: 100%;
    transition: background-color 0.25s ease;
}

.command-btn:hover {
    background: lightblue;
}

.commands-section {
    width:  100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 8px;
}
