html,
body,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Verdana', 'sans-serif';
}

button {
    outline: none;
    background: transparent;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-wrap: wrap;
}

.divider {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: lightgray;
}

.popup {
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
}

.title {
    margin-bottom: 12px;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
}

.commands-label,
.shortcuts-label {
    margin-bottom: 8px;
    text-decoration: underline;
}

.container {
    display: flex;
    width: 100%;
}

.commands {
    position:  relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
}

.commands-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.command-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width:  100%;
}

.commands-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-bottom: 8px;
}

.commands-section__title,
.command,
.shortcut {
    display: flex;
    align-items: center;
    justify-content: center;
}

.commands-section__title {
    text-decoration: underline gray;
}

.command {
    padding: 4px 8px;
    max-width: 100px;
    background-color: gray;
    color: white;
}

.options {
    padding: 6px 10px;
    background-color: lightblue;
}
