html,
body,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Verdana', 'sans-serif';
}

button, a {
    outline: none;
    background: transparent;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-wrap: wrap;
    text-decoration: none;
    color: inherit;
}

.popup {
    width: 300px;
    padding: 10px;
}

.intro {
    position: relative;
    width: max-content;
    margin-bottom: 8px;
    font-size: 14px;
}

.intro-arrow {
    position: absolute;
    right: -16px;
    top: 6px;
}

.commands-label,
.shortcuts-label {
    margin-bottom: 8px;
    text-decoration: underline;
}

.container {
    display: flex;
    width: 100%;
}

.commands {
    position:  relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
}

.commands-container {
    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 8px;
}

.command {
    padding: 4px 12px;
    border: 1px solid lightgray;
    transition: all 0.2s ease-in-out;
}

.command:hover {
    border: 1px solid darkgray;
    background-color: lightgray;
}

.command:hover:disabled {
    cursor:not-allowed;
    background-color: white;
}

.command span {
    margin-left: 8px;
}

.divider {
    width: 1px;
    height: 100%;
    background-color: lightgray;
}

.footer {
    display: flex;
    height: 18px;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.github,
.options {
    font-size: 13px;
}
