html,
body,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Verdana', 'sans-serif';
}

button {
    outline: none;
    background: transparent;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-wrap: wrap;
}

.divider {
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: lightgray;
}

.popup {
    width: 300px;
    padding: 10px;
}

.intro {
    font-size: 14px;
}

.commands-label,
.shortcuts-label {
    margin-bottom: 8px;
    text-decoration: underline;
}

.container {
    display: flex;
    width: 100%;
}

.commands {
    position:  relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
}

.commands-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.command {
    border: 1px solid lightgray;
    padding: 8px 4px;
    border-radius: 3px;
    cursor: pointer;
}

.command span {
    margin-left: 8px;
}

.options {
    padding: 6px 10px;
    background-color: lightblue;
}
